body {
    font-family: Arial, sans-serif;
    background-color: #1e1e22;
    margin: 0;
    padding: 0;
}
.bg-1{
    background-color: #323235;
}
.bg-2{
    background-color: #1e1e22 !important;
}
.border-2{
    border-color: #1e1e22 !important;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #1e1e22 !important;
    color: #c6c6c6 !important;
    border: 1px solid #151515; /* optional: gray-600 */
    padding: 0.25rem;
}

/* Hide the number input spinner */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


